body {
    font-family: 'Montserrat', sans-serif;
    /* color: silver; */
}

.carousal-img {
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 450px; 
}
.carousel-img-size {
    height: 600px;
}
.img-div {
  display: flex; 
  justify-content: center; 
  align-items: center;
  /* height: 5rem;  */
  /* width: 8rem; */
  background-color: #0000006e;
}


#img-card {
    height: 110px;
    width: 115px;
}

#crd {
    /* width: 12rem; */
    border: none;
}

#foot {
    /* padding: 120px; */
    background: #000;
    color: white;
}
 .inp {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
 }

 .navbar {
position: fixed;
 }

 .transparent-navbar {
    background-color: rgba(0, 0, 0, 0); /* Transparent black */
    transition: background-color 0.3s ease;
}

.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
  }

  /* ChatRoom scroller */
  .ex3 {
    width: 100%;
    float: left;
    height: 100vh; 
    overflow-y: auto;
    border-right: 1px solid #ccc; 
  }
  
  
  .FooterClass {
    position: relative;
    width: 100%;
    background: rgb(0, 0, 0);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .FooterClass .social_icon,
  .FooterClass .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .FooterClass .social_icon li,
  .FooterClass .menu li {
    list-style: none;
  }

  .FooterClass .social_icon li a {
    font-size: 2em;
    color: antiquewhite;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .FooterClass .social_icon li a:hover {
    transform: translateY(-10px);
  }

  .FooterClass .menu li a {
    font-size: 1.2em;
    color: antiquewhite;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
  }

  .FooterClass .menu li a:hover {
    opacity: 1;
  }

  .FooterClass p {
    color: antiquewhite;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  /* About us */
  /* Image Shadow Effect */
#aboutImg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  transition: box-shadow 0.3s ease-in-out;
}

#aboutImg:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
}

.plate {
  background-color: #ffce00;
  height: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.plate-heading {
  font-weight: bolder;
}
.plate-btn {
  background-color: #0061ef;
  color: #fff;
  border-radius: 20px;
  border: none;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plate-btn-text {
  margin: 1rem;
}

.plate-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-main {
  border-radius: 0%;
}
.blur-card {
  background-image: url("https://images.unsplash.com/photo-1528693404014-b13ebe6e723e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGluZGlhbiUyMGZhcm1lcnxlbnwwfHwwfHx8MA%3D%3D");
  height: 320px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.blur-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(209, 188, 160);
}

/* element */
.element {
  /* height: 710px; */
  background-color: bisque;
  /* font-size: ; */
}
/* .element-text {
  display: block;
  justify-content: center;
  align-items: center;
} */
.element-text h1 {
  color:#3b0303;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.element-box1 {
  background-color: #70b9c7;
}
.element-box2 {
  background-color: #f3a63d;
}
.element-div {  
  display: flex;
  justify-content: center;
  align-items: center;
}
.element-box3 {
  background-color: #ffce00;
  margin-left: -2rem;
}
.elbox {
  height: 18.5rem;
  width:17.5rem;
  border-radius: 17px;
  box-shadow: 2px 2px 5px #000 ;
}
.elbox:hover {
  transform: scale(1.07);  
  transition-duration: 1s;
}
.inside {
  height: 18.5rem;
  width:17.5rem;
  border-radius: 17px;
  border: 5px dashed #fff;

}


.abSection {
  border: none;
  border-radius: 0;
  position: inherit;
}
/* .aboutBackground {
  background-color: #fff;
  height: 500px;
} */

.round {
  border-radius: 50%;
}